/**
* Custom rules for Memory Game
*/

:root {
    --main-color: rgb(27, 26, 26);
    /**
    *   rgb(25%, 30%, 25%)
    *   hsl(200, 25%, 30%)
    *   Safe Palette : #000 -> #fff
    *   Hexa : #000000 -> #ffffff
    *   Named colors : blue, lightblue, darkblue, ...
    **/
}

/**
* Tag selector : Cible l'élément dans le DOM par le nom de la balise
**/
body {
    color: var(--main-color);
}

/**
* Id Selector : Cible l'élément pour lequel l'attribut id a été valorisé
**/
#main-container {
    width: 1100px;
    margin: 0 auto;
}

/**
* Class selector : Cible des éléments en fonction d'une classe (class attribute)
**/
.my-bold {
    font-weight: bold;
}

/**
* Complex selector : combination of many selectors
**/
address span.my-bold:first-child {
    margin-right: 0.5em;
}

.my-upper {
    text-transform: uppercase;
}

h1.my-upper {
    letter-spacing: 0.1em;
}

/**
* Navigation links customization
**/
nav#main-navbar ul {
    list-style-type: none;
    display: flex;
}

nav#main-navbar ul li {
    width: 10em;
    text-align: center;
    color: var(--main-color);
    transform: scale(1.0);
    
    transition-property: all;
    transition-duration: 0.8s;
    transition-delay: 0.3s;
    transition-timing-function: ease-out;
}

nav#main-navbar ul li a {
    color: inherit;
    text-decoration: none;
    
}

nav#main-navbar ul li:hover {
    transform: scale(2.0);
}

/**
* Cards designing
**/
#game-platform {
    display: flex;
}
#platform {
    /*display: flex;*/
}
.card, .freezed-card {
    height: 100px;
    width: 100px;
    background-image: url("./../images/cards.png");
    background-repeat: no-repeat;
    box-sizing: border-box;
    margin: .3em .3em;
}

.card:hover {
    cursor: pointer;
}

.card.hidden-face {
    background-image: none;
    background-color: rgb(128, 128, 128);
}
/**
* Attribute selector
**/
[data-rel="card-1"] {
    background-position: 0 0;
}

[data-rel="card-2"] {
    background-position: 0 -100px;
}

/**
* App loader
**/
.outer-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, .5);
}

.outer-loader.hidden {
    display: none;
}

.inner-loader {
    position: relative;
    width: 64px;
    height: 64px;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
}

.flex-container {
    display: flex;
}

/**
* Card animation
**/
.flip-out {
    animation-name: flip-out;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
.flip-in {
    animation-name: flip-in;
    animation-duration: .5s;
    animation-delay: .1s;
    animation-fill-mode: backwards;
}

/**
* Styling progress bar
**/
progress {
    display: block;
}

/**
* Flip cards animation definition
**/
@keyframes flip-out {
   from {
       opacity: 1;
   }
   to {
       opacity: 0;
   } 
}
@keyframes flip-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    } 
 }