/**
* Game loader overlay
**/
.form-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, .5);

    &.hidden {
        display: none;
    }

    form {
        position: relative;
        width: 200px;
        height: 300x;
        padding: 20px;
        margin: 0 auto;
        top: 50%;
        transform: translateY(-50%);
        background-color: #fff;
    }
}